.ui-sortable-handle span{
    display: block;
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
}

.form-table{
    background: #ffedd2;
    border-radius: 15px;
}
.form-table th{
    padding: 20px 10px 20px 10px !important;
}

.misha-gallery {
    display: flex;
}

.misha-gallery li {
    margin: 5px;
    border-radius: 5px;
}

.ui-sortable-handle{
    position: relative;
}
.misha-gallery-remove{
    font-size: 90px;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 18px;
    bottom: 0px;
    color: #f9f8f8;
    z-index: 999;
}